 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 5px;
    background-color: grey;
}
hr {
    margin: 2px;
} 

.container {
    display: flex;
    justify-content: center;
    
}

.heading {
    background-color: white;
    border: 6px solid red;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 4px 3px rgb(102, 19, 102);
    width: 350px;
    height: 140px;
    color: rgb(212, 84, 84);
    text-shadow: 1px 1px 1px rgb(100, 24, 100);
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    
}
.box{
    border: 5px solid red;
    border-radius: 15px;
    color: saddlebrown;
    padding: 10px 0px;
    background-color: yellowgreen;
    text-align: center;
    position: fixed;
    width: 400px;
    bottom: 70px;
    left: 35px; 
    border: 6px solid red;
    border-radius: 10px;
    box-shadow: 4px 5px 2px rgb(112, 32, 112);
    font-style: italic;
    margin-left: 530px;

}
.box table{
    width: 100%;
}


.container2 {
    width: 100%;
    display: flex;
    border: 5px solid green;
}


.box1 {
    border: 5px solid red;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    text-align: center;
    font-size: 18px;
    padding: 10px; 
    line-height: 1.6;
    font-weight: 900;
    margin-bottom: 40px;
    box-shadow: 5px 6px 2px rgb(119, 36, 119);
    text-shadow: 1px 1px 3px rgb(114, 31, 114);
}

.box2 {
    border: 5px solid red;
    border-radius: 10px;
    background-color: white;
    width: 210px;
    justify-content: center;
    padding: 20px 20px;
    margin-bottom: 40px;
    box-shadow: 5px 6px 2px rgb(104, 34, 104);
    margin-left: 950px;
    line-height: 1.4;
}
.box2 img{
    width: 100%;
}

.box3 {
    border: 5px solid red;
    border-radius: 10px;
    background-color: white;
    width: 270px;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 30px;
    box-shadow: 5px 6px 2px rgb(119, 42, 119);
    text-shadow: 1px 1px 2px rgb(119, 38, 119);
    text-align: center;
    height: 1.4;
}

.box4 {
    border: 5px solid red;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    font-weight: 900;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(124, 39, 124);
    box-shadow: 5px 6px 2px rgb(109, 25, 109);
    line-height: 1;
    margin-left: 960px;
    margin-top: 40px;
} 

.table2{
    width: 100%; 
    margin-top: 20px;

}
.box5{
    background-color: green;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(109, 20, 109);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 50%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
.box5 h2{
    width: 100%;
    padding: 5px;
}
.fruits{
    line-height:1.6;
    background-color: rgb(233, 206, 158);
    padding: 10px;
    width: 340px;
    height: 250px;

}
.vegetables{
    line-height: 1.6;
    background-color: rgb(233, 206, 158);
    padding: 10px;
    width:340px ;
    height: 250px; ;
    

}
.others{
    background-color: rgb(245, 222, 179);
    margin-top: 10px;
    line-height: 1.6;
}

button{
    border: 1px solid red;
    border-radius: 10px;
    background-color: red;
}


